*,:before, :after{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color:black;
}
body{
    background-color: #f0f0f0;
}

header{
    height:80px;
    display: flex;
    padding: 40px 0;
    justify-content:space-between;
    align-items: center;
}
.header_left{
    display: inline-flex;
    gap:40px;
    margin:0 120px;
}
.logo {
  width: 100px;
  line-height: 1px;
  margin-right: 60px;
}
.logo a {
  display: block;
}
.header_left-list ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.header_right{
    width:200px;
    padding:0 30px ;
    background-color: black;
    height: 80px;
    color: white;
    line-height:80px;
    font-size: 12px;
    text-align: center;
}
.header_right:hover{
    opacity: 0.7;
}
.wrapper{
    width: 100%;
    max-width: 1032px;
    padding: 0 16px;
    margin: 0 auto;
    margin-top: 40px;
}
.ttl h1{
    letter-spacing: 10px;
    font-weight: normal;
    margin-bottom: 40px;
}
.sub_ttl {
    margin-bottom: 40px;
    font-size: 14px;
}
.attention{
    color:red;
}
.Form-Item {
    padding-bottom: 20px;

}
.Form-Item-Label{
    margin-bottom: 5px;
}
.Form-Item-Input {
    height: 50px;
    width: 100%;
    padding: 15px;
    border:none;
}
.Form-Item-Textarea {
    padding:15px;
    height: 180px;
    width: 100%;
    font-size: 18px;
    border: none;
}

  .Form-Btn {
    border-radius: 6px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 280px;
    display: block;
    letter-spacing: 0.05em;
    background: #545454;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
.wpcf7-not-valid-tip {
    color: #dc3232;
    font-size: 10px;
    font-weight: normal;
    display: block;
}


